* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lookover {
  background-color: #4d4d7f;
}

.top {
  background-color: black;
  border-radius: 12px;
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  max-width: 95%;
  min-width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
  font-weight: bold;
  overflow: hidden;
}

.top-in-a {
  text-decoration: none;
  color: cadetblue;
}

.top-in-1 {
  margin-left: 20%;
  margin-right: 40%;
  display: flex;
  list-style: none;
  text-align: center;
}

.top-in {
  padding-left: 8.5%;
  padding-right: 8.5%;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.top-in:hover {
  background-color: #4d4d7f;
  border-radius: 10px;
}

.lmr {
  display: flex;
  color: #4d4d7f;
  font-weight: bold;
  text-align: center;
}

.lmr-head {
  font-weight: bolder;
  font-size: xx-large;
  background-color: #4d4d7f;
  color: black;
  border-color: #4d4d7f;
  border-radius: 10px;
}

.lmr-hr {
  color: #4d4d7f;
  width: 99.9%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.left {
  max-width: 10%;
  min-width: 10%;
  background-color: black;
  border-radius: 10px;
  max-height: 100%;
  margin-left: 2.5%;
  padding-left: 1.5px;
  padding-top: 1px;
  padding-right: 1.5px;
  overflow: scroll;
}

.left-in {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: black;
  border-radius: 10px;
  margin: 1%;
  font-size: large;
}

.left-in-a {
  text-decoration: none;
  color: cadetblue;
}

.left-in:hover {
  background-color: #4d4d7f;
}

.middle {
  max-width: 50%;
  min-width: 50%;
  background-color: black;
  border-radius: 10px;
  margin-left: 1%;
  padding-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
}

.middle-marquee {
  font-weight: bolder;
  margin-top: 1%;
  font-size: larger;
}

#type-1-in {
  color: rgb(255, 0, 0);
}

#type-1-in-2 {
  color: red;
}

.right {
  text-align: center;
  max-width: 31%;
  min-width: 31%;
  background-color: black;
  border-radius: 10px;
  margin-left: 3%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-right: 1px;
}

.linux {
  color: aquamarine;
}

.linux:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: none;
}

.right-btn {
  background-color: black;
  border-radius: 10px;
  margin-top: 1%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: cadetblue;
  margin-left: 1%;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border-color: #4d4d7f;
}

.right-btn:hover {
  background-color: #4d4d7f;
  color: black;
}

.right-div-1 {
  text-align: center;
}