.div-con {
    display: flex;
    flex-direction: column;
}

.div-con-1 {
    display: flex;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.div-in {
    background-color: black;
    max-width: 30%;
    min-width: 30%;
    margin-left: 1.65%;
    margin-right: 1.65%;
    border-radius: 10px;
}

.con-name {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: #4d4d7f;
    margin: 1.5px;
    border-radius: 10px;
}

.con-content {
    color: rgba(13, 216, 16, 0.554);
    font-weight: 500;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 6%;
}

.links {
    text-decoration: none;
    color: darkgrey;
}